# Copy to .env and edit values

# API
VITE_API_URL="http://carpoolear_backend.test"
VITE_WEB_URL="https://carpoolear.com.ar/app"

# App
VITE_TARGET_APP="carpoolear"
VITE_ROUTE_BASE=""
VITE_HISTORY_MODE="hash"

# Third-party APIs
VITE_MAPS_API="AIzaSyBlRfNi2qDcy_zwjR53VVOyD-csjYSq4Qo"
VITE_FACEBOOK_API="147151221990591"
VITE_RECAPTCHA_SITE_KEY="6LdoUqQpAAAAAJXZvlOk47gLqTapZ0gErj4KoFj_"

# Mercado Pago (optional)
VITE_MERCADO_PAGO_PUBLIC_KEY=""

# Firebase (optional)
# VITE_FIREBASE_PARAMS=""
# VITE_FIRABASE_VAPID_KEY=""