services:
  carpoolear_frontend:
    build:
      context: .
      target: dev
    tty: true
    container_name: ${CONTAINER_PREFIX:-carpoolear}_frontend
    command: npm run dev
    environment:
      HOST: '0.0.0.0'
      API_URL: ${API_URL:-http://localhost:8000}
      MERCADO_PAGO_PUBLIC_KEY: ${MERCADO_PAGO_PUBLIC_KEY:-}
    ports:
      - ${FRONTEND_PORT:-8080}:8080
    networks:
      - esnet
    volumes:
      - .:/app
      - /app/node_modules
networks:
  esnet:
    driver: bridge
