services:
  carpoolear_frontend:
    build:
      context: .
      target: dev
    tty: true
    container_name: carpoolear_frontend
    command: npm run dev
    environment:
      HOST: '0.0.0.0'
    ports:
      - 8080:8080
    networks:
      - esnet
    volumes:
      - .:/app
      - /app/node_modules
networks:
  esnet:
    driver: bridge
