services:
  carpoolear_frontend:
    build:
      context: .
      target: dev
    tty: true
    container_name: ${CONTAINER_PREFIX:-carpoolear}_frontend
    command: npm run dev
    environment:
      HOST: '0.0.0.0'
      VITE_API_URL: ${API_URL:-http://localhost:8000}
    ports:
      - ${FRONTEND_PORT:-8080}:8080
    volumes:
      - .:/app
      - /app/node_modules
