@import url('base.css');

:root {
    --main-background: #F0F0F0;
    --main-font-color: #555;
    --main-error:#D72521;
    --medium-font-color: #363636;
    --soft-font-color: #BBBBBB;

    --primary-color: #0070B8;
    --secondary-color: #FF8F47;

    --trip-almost-fill-color: #D72521;
    --trip-mostly-free-color: #59CF5F;
    --trip-half-free-color: #F6C500;

    --secondary-background: #0070B8;
    --secondary-font-color: #F6F6F6;

    --form-background: #FFFFFF;

    --button-facebook-blue-left: #354f88;
    --button-facebook-blue-right: #3b5997;

    --actionbar-bakground: #FFECE1;
}

.card-trip {
    height: 332px;
    border-radius: .4em;
    border: 1px solid var(--primary-color);
}
.card-trip .card_heading {
    color: var(--medium-font-color);
    background: transparent;
    position: relative;
    border: 0;
}
.card-trip .card_heading .trip_driver_name {
    font-weight: bold;
}
.trip_location_from_state-country,
.trip_location_from {
    color: var(--primary-color);
}
.trip_location_to_state-country,
.trip_location_to {
    color: var(--secondary-color);
}
.trip_location_from_state-country,
.trip_location_to_state-country {
    display: block;
    font-size: 0.8rem;
    min-height: 3em;
}
.trip_seats-available .seat-free,
.trip_seats-available .seat-taken {
    background: green;
    height: 2em;
    display: inline-block;
    padding: 3px;
}
.trip_seats-available .seat-free {
    background: gray;
}
.trip_seats-available svg {
    fill: white;
}
.trip_date_right {
    float: right;
    padding-right: 16px;
}
.trip_date_right .trip_date_date_day {
    font-size: 32px;
}
.trip_date_right .trip_date_date_month {
    font-size: 16px;
    text-transform: capitalize;
}
.card-trip-theme-light .trip_driver_img {
    box-shadow: none;
}
.card-trip-theme-light .trip_driver_details {
    padding-top: 0.75em;
}
.trip_location_from .trip_from_time,
.trip_location_to .trip_to_time {
    color: var(--medium-font-color);
    font-size: 16px;
    font-weight: bold;
}
.trip_seats-available_with-icons {
    position: absolute;
    right: 0;
    width: 80px;
}
.trip_driver_ratings svg {
    fill: var(--secondary-color);
}
.trip_seats-available .seat-free,
.trip_seats-available .seat-taken {
    background: #DDD;
    height: 2em;
    width: 2em;
    display: inline-block;
    padding: 4px 6px;
    margin: 4px;
    border-radius: 30px;
}
.trip-fill .trip_seats-available .seat-taken {
    background: var(--trip-almost-fill-color);
}
.trip-almost-fill .trip_seats-available .seat-taken {
    background: var(--trip-half-free-color);
}
.trip-mostly-available .trip_seats-available .seat-taken {
    background: var(--trip-mostly-free-color);
}
.actionbar-bottom {
    border-color: transparent;
    box-shadow: -1px 0 2px 2px #DDD;
}
.actionbar-bottom .actionbar_item {
    padding-top: 4px;
}
.actionbar-bottom .actionbar_item span {
    padding: 0;
}
.actionbar-bottom .actionbar_item svg {
    fill: var(--primary-color);
}
.actionbar-bottom .actionbar_item.active svg {
    fill: var(--trip-half-free-color);
}
.actionbar-bottom .actionbar_item .big {
    background: transparent;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 0;
    margin-top: -10px;
}
.actionbar-bottom .actionbar_item .big svg {
    fill: var(--primary-color);
    margin-top: 5px;
}
.actionbar-bottom .actionbar_item.active .big {
    border-color: var(--trip-half-free-color);
}
.actionbar-bottom .actionbar_item.active .big svg {
    fill: var(--trip-half-free-color);
}
.actionbar-bottom .actionbar_item .big .svgItem path:first-child {
    stroke: var(--primary-color);
}
.actionbar-bottom .actionbar_item.active .big .svgItem path:first-child {
    stroke: var(--trip-half-free-color);
}
