:root {
  --main-background: #F0F0F0;
  --main-font-color: #222222;

  --medium-font-color: #666666;
  --soft-font-color: #BBBBBB;

  --trip-almost-fill-color: #D72521;
  --trip-mostly-free-color: #91B64C;
  --trip-half-free-color: #FE9900;

  --secondary-background: #016587;
  --secondary-font-color: #F6F6F6;

  --form-background: #FFFFFF;
}
html {
    font-size: 100%;
}
body {
    background: var(--main-background);
    color: var(--main-font-color);

    font-family: 'Montserrat', sans-serif;
}
p {
    margin: 1.5rem 0; 
    font-size: 1rem; 
    line-height: 1.5;
}
textarea {
    resize: none;
    width: 100%;
}
.no-bullet {
    list-style: none;
    padding: 0;
}

/* Overriding Bootstrap */
label {
    font-weight: normal;
}
input[type=checkbox] + label,
input[type=radio] + label {
    margin-left: .5em;
    vertical-align: -1px;
}
.btn-primary {
    border-radius: 0;
    padding: 1em;
    min-width: 8rem;

    border: 2px solid #FFFFFF;
    color: #FFFFFF;

    background: var(--trip-almost-fill-color);

    text-transform: uppercase;
    font-size: 0.9rem;
}
.btn-shadowed {
    box-shadow: 0 0 6px 5px #CCCCCC;
}
.btn-primary:hover {
    color: #FFFFFF;
    background: rgba(215,37,33, 0.8);
    border-color: #FFFFFF;;
}
.btn-primary:focus {
    border-color: #000000;
    color: #000000;
    background: var(--trip-almost-fill-color);
}
.btn-primary:active {
    border-color: #000000;
    color: #000000;
    background: rgba(215,37,33, 0.8);
}

.btn-primary:active:hover, 
.btn-primary.active:hover, 
.open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, 
.btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.btn-primary.focus:active, 
.btn-primary.active.focus, 
.open > .dropdown-toggle.btn-primary.focus {
    border-color: #000000;
    color: #000000;
    background: rgba(215,37,33, 0.8);
}


.btn-option {
    border-radius: 0;
    padding: 1em;
    min-width: 8rem;

    border: 1px solid #AAA;
    color: #AAA;

    background: #ffffff;

    text-transform: uppercase;
    font-size: 0.9rem;
} 

.btn-option:hover {
    color: #FFF;
    background: #d72322;
    border-color: #d72322;
}

.btn-option.active {
    border-color: #d72322;
    color: white;
    background: #d72322;
}
 
.form-control {
    border-radius: 0;
    padding: .8em;
    height: auto;

    border: 1px solid var(--medium-font-color);
    color: var(--medium-font-color);
    margin-bottom: 1em;

    border-color: var(--soft-font-color);

}
/* -------------------- */
.form-control-with-icon {
    padding: .8em .8em .8em 2.5em; 
    border-color: #31B0E7;
}
.trip_point:first-child .form-control-map-autocomplete {
    border-color: var(--trip-half-free-color);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQeFSkEDUzeggAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAEdklEQVRYw62XS+hVVRTGf986ouTARw9KJfVvEYTRe9ADH5glgRIVlgMpbOYgaBoURU2CRkVRIKQNHKiEkNjA6A2BUEETaVT/wMLICgUN5X/W12Cfc+65lv97JA8c7r377r3X2mt96/vWlk8dhwXL+O8ngcA2SAgw9D4TOxA1VoXIbqUJxORnzqz/OkBQTBdnxowTSImpyiABrbNDrJcVszzKsq+KMdLFkJu/u5NmMShwCA80PtkByoG6aSFQFsvNmJptiqvZpOUyOWCLECR1k9/sTpw506SlvGF1eAllF6X/hQFJGAgq7BpJ6Mxf8M1bxPd7PuLU9MOeKeH34qkjun3HJu7eCfOvhoFp0KAqaEH3w0H4cOdPnPl9pSOITIgKqMGQCnTFVdPa8vaUb946yIdZHTC9gxw7APu32U5EQGRjtIFFqAUMGRVs3a+4+bEyJBp8xKVhoC05/30SDu38JUWH9lGOAwcNCBtgZk0c2nGGM78hlemtccMYPiZWATY6+hY++8fScEkJkdSAoyJcsBLZpExCBPXZ0/P9za6xaHZVo0twQBJ8v/egY4SLNFRL7niNpz4RL52Xtn+qXHrrG6loTCUVwHe7vsR144AvcCaxPQEDdim5V+c5sibVcKENT38spjaUsjQw/Rm8v9EtgWFwNRe9cE7diRs8lIqqBmBAJelRl1OEwWlQBVMbmgqpscAr7qd4MuIA1efH8aJ236obmkBEBViuircFhA3f//h5s4EwRtNfk4oGpYFdMNIadi/0l1AFwiQsXH4EF2MzynLS/VtPMP0FpIifv4IDj5/ANUUICjlpwfIj/YpqaRuPcDi7Gracf9OWTRx904Vmg3TAuT+vjT3rbQuHkHN0mibsuXrrpnBdUpZFJdGYnk9IAeWwuu3pEuwAZRLMEI1ISSacWNERjlXkWbc8UYy7CFlfJVMeRkQIWHInrFy7rSnz3rIkW2BldkFOarxq/TYtuauHgQtzrwEghCZ04PWv7LPVGMwRC3aR6LSbKkHrXt7XZ6AOA27BPYSImu7GrtGKNWjVA5s11uokERpHtgRTGzezYt0FYhKdJ63KDuSBUrcIvOWdw5q74HRhvDb0va0E9bwrf/Uj7x4eNS5ctDewPSAFvcV55Y1wz3ML1dZ6VNhQt3ggqO59dpkW3fAfAjAu8xqshm3O04Xf172Irr/vmVRCXeq9krAhVq7ZnmufHzWoPfDZ9QhTLRdIA8So6Y4dahZX+NHduz3/umOSu1jl/MUneWTP3qDq962dDEtVQysai8oEB3KsZov2ghZNUT2+d7WjgqxIoHryg2tYtBIkUjm0I5vkQHQ121ZtB4lVG9CDryvnQDz0hli+vgt91V5mhjw+dRzbF33TNZnt77p8Zj36/u17OGdwOyd78wa8szelLiDURRvFC4YSiOYSw7DGeLIWjN33erel9pYE1LgX8uHGB6hhjolSGevdkhpH5sRI5eye2Ol/RqCU0OiWK/XZL8cd6eZkw555GSLwL0KgZ1QTzhSDtv0HA/lOUhgOeYAAAAAASUVORK5CYII=') no-repeat center left white;
}
.trip_point:last-child .form-control-map-autocomplete {
    border-color: var(--trip-mostly-free-color);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQeFSoMKLoFcwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAE50lEQVRYw6WXW4hVZRTH//+1z4MzqXmZcSZCJ51SGQQvoJZieAnEIDNF6sEyrJDoAr1ERAS+hNBDNU/dTLv4EkKkkCTWmDAviSBEUqCUjQ9qzWRZKs3Z37+H9e3L0ensY2447G9fzvetb631/621OXLlLCaPux1jHQLA0iC/zo8AwAAECObPggATJAOJysOaPw7xnMZFBAiQ4jNZbgSz900IUEuLVxsgxlMCwGAQwBAnN3dHNEJSnM5gSOL1TRpA+o7Z8Lp5LPKX4O5n5gPF27x5AwTLnFCERIAYcht8FKDoBQM9WAwtGVBr6oFrDRLxdzqML0/1Y3Doky8uXD2zLiAFBXS2zTy0YsZja9f2PofxtcnV6ZWt0UwFjd4IOHZ+P/Ycf+qXi+lv05NgqCcBVKNDJyVThrYuenvGkq5NLSVicwMEgAEpDMfP7cObxzarnJ++uOVqkQAmRFI3PL90Hxd3bYCgPD+g+JKxRRXEbP+rPoJdJ7afqynxRZjkO6cAKma/EUqFFCneP/HEuYv1Cw3JKPjiylVTmYTu+sOn+/FnfaQrtRQGQBJEwJAUu6dPSroXLo1e7Pr6p3d80VxVkWZRNZ60FQ6gDEeH9gxQhhAiGkT0Tli488Vlh7l3fcqXlh9iz4SFO8kkSsOVcfTMroHMVTkWFGEWDapMQinF1gPjNGp1JErynb68/CvOm7w6Whrw/fAAXhu8TzAW7lUNHz9wlZlhQgAdZ3lgqrVCYhR1UEDKNO4OmDdlJcAYABn6pq6C6OHJJg+swxcPDWRl67UAIAykA4lknMrw3fBAZh8E4OTwAGqqIcIzqsRKiM7oGG6EhM65zraeQ5TH1uQK6D+26Y+TwwMQUvzw+xG89e3mX+sMEIsa2dk2/UimApWwXTaiVkVqAljcvX7twZ/7lUow8xBc/ufSxJ2Da1SnGlhAEgye+3d3P7wqMHW1KHV3wSARZIDEqmrotL+nZ4vr3Qs+SGf9qGWQCe5uAkrldVPAkp5HvDIiALGiZkZmBay5DCUIht4JizCn494tjL1AGb+S54UYsWwAaOjrWLV51sSFcR8lHEUZIvKkuQeMYIzoptk79jp8LC+5FhonyfCcoo6Ns1/Zl3nQSnlPen1n9EQ1CeWp2Dd1BeZNXb3RpVaQKuM8I5ZFYEHHmgf7OlYCDNfnuewGGhI4930Hhm0L3v2svTb+MmlFiuQa91N7MuX84/Pf2++at7xryDsIFv1MdQjkJMxevm1cL+6/84VbklDYLxZnQ4J1s57t7m6bGVmf5o1NQxjifJUhcBcnTj8KgvDQXa9i9rTl23zRKD35eU7Hsm0b5u4ouiEmjZ11QEmuahHFCJARlIF0zD45/8Pdk5LOHxGcFMGAW2sdQ9vnf7TbSt0zy9jNI2IN0W+hLbdYvVySgqG7vQdPL907N2GCEATK8MzST2dMa78DhMGUXNNLNjlGrpz1+j7GL1XIxyH4OA2Cgt87cPp1PPp5TQdPvYEgIYR68f80/Oe85V9TA8J199JoWB0hjr8580HDtZT6OKglAyr6gRiCUO7jQmR50ecJBablZdNz4OY/zSwnYiFHllorr34sGcsbWLxFFWSllEVfF7ErOaozFkBZv6LGr6f//2XkPQDH+CrOWB7KhYYxUiQCW7Og+svIxure7JqOYQyEt/ht+C8WN+Pl02VYHAAAAABJRU5ErkJggg==') no-repeat center left white;
}
.form-control-time {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQeFTU3VOviyQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAACB0lEQVRYw+1XO47CMBB9E2ggHIE6uQYNHVQU3AAUroIQbc6QNmnhHkSU0EHrAgnPFiuzJvEv2pW22E0TiCfMmzfPbwwxM+MXrwi/fDkBSCkBAIokE1nfJdAKgJkRRe/LRNSKU8+Y2QnGtk5dNMDMRhC+NRNjRPRZpC9Qx6dX27y7kjdrVLFEFMZAaHV6bPMd2290boFOXyioH9mGUkpkWYb9fm9tx263Q5ZlXkHqVz8k6Hg8QggBZsbtdkNZli0GiAj3+x1SSlRVhdFohMlk4mXL24LD4YCiKN62ZlOYxu1FhMVigel02tKFDqjv67kQ4kuxjWQ27Cru8XgYNaOz4QTQ7LNtXQemf34+n9/TgEJNRBiPxxgOh07XVImFELhcLi2NdAagV7NcLpEkCaSULYtusnQ+n7Hdbr0CdDqhCcjpdMJms0FZlgCA1WqF9XoNZkZVVciyDHVdQ0rZSm5z1ig0edPVALyY0JOolvl0FewDOuI0TZHn+et5nuev9fl8jtlsBiJCXddGHZksOYgB3w7wjWvTQAvWgOqna+/7bNdVRGcGQqr0mZUuyOBhFDpcpJTo9Xreaaru/ZCkzIyiKBDHsdHx1HfVLmXfIRrp+1wwSRIMBgNcr9fXmHW1QQGJ4xhpmloPK8EnoqaZ+I5epljXe1GXo1jocDINKJue6P+f0T+APw/gAzNBo3uUL/PXAAAAAElFTkSuQmCC') center left no-repeat white;
}
.form-control-date {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQeFTU3VOviyQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAACB0lEQVRYw+1XO47CMBB9E2ggHIE6uQYNHVQU3AAUroIQbc6QNmnhHkSU0EHrAgnPFiuzJvEv2pW22E0TiCfMmzfPbwwxM+MXrwi/fDkBSCkBAIokE1nfJdAKgJkRRe/LRNSKU8+Y2QnGtk5dNMDMRhC+NRNjRPRZpC9Qx6dX27y7kjdrVLFEFMZAaHV6bPMd2290boFOXyioH9mGUkpkWYb9fm9tx263Q5ZlXkHqVz8k6Hg8QggBZsbtdkNZli0GiAj3+x1SSlRVhdFohMlk4mXL24LD4YCiKN62ZlOYxu1FhMVigel02tKFDqjv67kQ4kuxjWQ27Cru8XgYNaOz4QTQ7LNtXQemf34+n9/TgEJNRBiPxxgOh07XVImFELhcLi2NdAagV7NcLpEkCaSULYtusnQ+n7Hdbr0CdDqhCcjpdMJms0FZlgCA1WqF9XoNZkZVVciyDHVdQ0rZSm5z1ig0edPVALyY0JOolvl0FewDOuI0TZHn+et5nuev9fl8jtlsBiJCXddGHZksOYgB3w7wjWvTQAvWgOqna+/7bNdVRGcGQqr0mZUuyOBhFDpcpJTo9Xreaaru/ZCkzIyiKBDHsdHx1HfVLmXfIRrp+1wwSRIMBgNcr9fXmHW1QQGJ4xhpmloPK8EnoqaZ+I5epljXe1GXo1jocDINKJue6P+f0T+APw/gAzNBo3uUL/PXAAAAAElFTkSuQmCC') center left no-repeat white;

    padding-top: 0;
    padding-bottom: 0;

}
.form-control-date input {
    border: 0;
    /*box-shadow: none!important;*/
    padding-top: .8em;
    padding-bottom: .8em;
    /*font-size: 14px!important;*/
    padding-left: 0;
    padding-right: 0;
}

.label-for-group {
    text-transform: uppercase;
    display: block;
    color: var(--main-font-color);
    font-size: .9rem;
    border: 0;
    margin-bottom: 0;
}
.label-soft {
    color: var(--medium-font-color);
}
.list_item {
    margin-bottom: .5em;
}

.header {
    background: var(--secondary-background);
    color: var(--secondary-font-color);

    margin: 1.5em 0;

}
.header_title {
    text-transform: lowercase;
    font-style: normal;

    font-size: 2.5rem;
}
.header_panel-left {
    /*background: #009CE1;*/
    padding: 0 7em;
    /*border-radius: 35em 0em 35em 0em;*/

    background: linear-gradient(100deg, #016587 10%, rgba(0, 0, 0, 0) 10%),   radial-gradient(circle farthest-corner at 0 0 , #009CE1 90%, #016587 90%);
}
.header .header_panel-right,
.header .header_panel-left {
    display: inline-block;
    vertical-align: middle;
}

.header .header_panel-left .header_title {
    width: 50%;
}

.header .header_panel-right {
    float: right;
    position: relative;
    top: 12px;
}

.header .header_profile {
    display: inline-block;
}

.header_profile_image {
    width: 2rem;
    height: 2rem;

    border-radius: 2rem;
    border: 1px solid var(--secondary-font-color);
}

.header .header_profile button.btn {
    background-color: transparent;
    border: none;
}

.header .btn-link {
    color: var(--secondary-font-color);
}

.card-trip {
    box-shadow: 0 0 4px 1px #CCC; 
    border-radius: .4em;
}
.card-trip .card_heading {
    color: white;
    background: var(--trip-half-free-color);

    border-radius: .4em .4em .5em .5em;
    box-shadow: 0 1px 6px 1px #CCC; 

    position: relative;
}
.card-trip .card_heading:after {
    top: 100%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: var(--trip-half-free-color);
    border-width: 12px;
    margin-left: -12px;
}

.trips .trips_title {
    text-align: center;
}

.trips .trips_title h1 {
    font-size: 42px;
    color: #016587;
}

.trips .trips_title h3 {
    font-size: 20px;
    color: #009ce1;
}

.trip-almost-fill .card_heading {
    background: var(--trip-almost-fill-color);
}
.trip-almost-fill .card_heading:after {
    border-top-color: var(--trip-almost-fill-color);
}
.trip-mostly-available .card_heading {
    background: var(--trip-mostly-free-color);
}
.trip-mostly-available  .card_heading:after {
    border-top-color: var(--trip-mostly-free-color);
}
.trip_visibility {
    margin: .6em;
}
.trip_driver_name {
    font-size: 1.1rem;
}
.trip_driver_ratings {
    font-size: 0.9rem;
}
.trip-with-driver .card_body {
    padding-top: 3em;
}
.card-trip .trip_driver_img {
    width: 100%;
    max-width: 90px;
    height: auto;
    
    border: 1px solid #FFF;
    box-shadow: 0 3px 6px 1px #CCC; 

    position: absolute;
}
.trip_location_from,
.trip_location_to {
    font-size: 1.5rem;
}
.trip_location_from {
    color: var(--trip-half-free-color);
}
.trip_location_to {
    color: var(--trip-mostly-free-color);
}
.trip_location_from_state-country {
    display: block;
    font-size: 0.8rem;
    color: var(--soft-font-color);
}
.trip_datetime {
    color: var(--medium-font-color);
    margin-bottom: 1.5em;
}
.trip_datetime_time {
    color: var(--trip-half-free-color);
    text-transform: uppercase;
}
.trip_seats-available {
    margin: 1rem 0;
}
.trip_seats-available_value {
    font-size: 2.5em;
    margin-right: .3em;
    color: var(--trip-half-free-color);
}
.trip-almost-fill .trip_seats-available_value {
    color: var(--trip-almost-fill-color);
}
.trip-mostly-available .trip_seats-available_value {
    color: var(--trip-mostly-free-color);
}
.trip_seats-available_label {
    font-size: 0.9em;
    line-height: 0.5em;
    
    position: relative;
    top: 4px;

    text-transform: uppercase;
    color: var(--medium-font-color);
}
.btn-trip-detail {
    width: 100%;
    padding: .5em;
    border-width: 2px;

    text-transform: uppercase;
    font-size: 1.4em;

    color: var(--trip-half-free-color);
}

.trip-almost-fill .btn-trip-detail {
    color: var(--trip-almost-fill-color);
    border-color: var(--trip-almost-fill-color);
}
.trip-mostly-available .btn-trip-detail {
    color: var(--trip-mostly-free-color);
    border-color: var(--trip-mostly-free-color);
}

.cf {
    clear: both;
}
.form {
    background: var(--form-background);
    border-radius: .4rem;
    box-shadow: 0 0 10px 5px #CCCCCC;
}
.trip-type-selection {
	position: relative; /* Necesario para el arrow */
    background: var(--secondary-background);
    border-radius: .4rem;
    color: var(--secondary-font-color);

    padding: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}
.trip-type-selection:after { /* CSS Arrow */
	left: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: var(--secondary-background);
	border-width: 9px;
	margin-top: -9px;
}
.trip_points,
.trip_information {
    margin-top: 1rem;
}
.trip_point + .trip_point {
    margin-top: 2.5em;
}
.xcv {
    border-bottom: 1px solid #CCC;
    margin-bottom: 1rem;
    height: 11rem;
}
.trip_terms {
    margin-left: 1.5rem;
}
.trip_terms_label {
    color: var(--secondary-background);
}
.map_warning {
    background: #D6D6D6;
    color: var(--medium-font-color);
    padding: .3rem;
}

.conversation_list .conversation_image {
    width: 56px;
}

.update-profile-component .profile_image img {
    width: 100%;
}

.profile_image {
    text-align: center;
}

.profile_image img.loading {
    opacity: 0.3;
}

.form-control-map-autocomplete.origin {
    border-color: var(--trip-half-free-color);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQeFSkEDUzeggAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAEdklEQVRYw62XS+hVVRTGf986ouTARw9KJfVvEYTRe9ADH5glgRIVlgMpbOYgaBoURU2CRkVRIKQNHKiEkNjA6A2BUEETaVT/wMLICgUN5X/W12Cfc+65lv97JA8c7r377r3X2mt96/vWlk8dhwXL+O8ngcA2SAgw9D4TOxA1VoXIbqUJxORnzqz/OkBQTBdnxowTSImpyiABrbNDrJcVszzKsq+KMdLFkJu/u5NmMShwCA80PtkByoG6aSFQFsvNmJptiqvZpOUyOWCLECR1k9/sTpw506SlvGF1eAllF6X/hQFJGAgq7BpJ6Mxf8M1bxPd7PuLU9MOeKeH34qkjun3HJu7eCfOvhoFp0KAqaEH3w0H4cOdPnPl9pSOITIgKqMGQCnTFVdPa8vaUb946yIdZHTC9gxw7APu32U5EQGRjtIFFqAUMGRVs3a+4+bEyJBp8xKVhoC05/30SDu38JUWH9lGOAwcNCBtgZk0c2nGGM78hlemtccMYPiZWATY6+hY++8fScEkJkdSAoyJcsBLZpExCBPXZ0/P9za6xaHZVo0twQBJ8v/egY4SLNFRL7niNpz4RL52Xtn+qXHrrG6loTCUVwHe7vsR144AvcCaxPQEDdim5V+c5sibVcKENT38spjaUsjQw/Rm8v9EtgWFwNRe9cE7diRs8lIqqBmBAJelRl1OEwWlQBVMbmgqpscAr7qd4MuIA1efH8aJ236obmkBEBViuircFhA3f//h5s4EwRtNfk4oGpYFdMNIadi/0l1AFwiQsXH4EF2MzynLS/VtPMP0FpIifv4IDj5/ANUUICjlpwfIj/YpqaRuPcDi7Gracf9OWTRx904Vmg3TAuT+vjT3rbQuHkHN0mibsuXrrpnBdUpZFJdGYnk9IAeWwuu3pEuwAZRLMEI1ISSacWNERjlXkWbc8UYy7CFlfJVMeRkQIWHInrFy7rSnz3rIkW2BldkFOarxq/TYtuauHgQtzrwEghCZ04PWv7LPVGMwRC3aR6LSbKkHrXt7XZ6AOA27BPYSImu7GrtGKNWjVA5s11uokERpHtgRTGzezYt0FYhKdJ63KDuSBUrcIvOWdw5q74HRhvDb0va0E9bwrf/Uj7x4eNS5ctDewPSAFvcV55Y1wz3ML1dZ6VNhQt3ggqO59dpkW3fAfAjAu8xqshm3O04Xf172Irr/vmVRCXeq9krAhVq7ZnmufHzWoPfDZ9QhTLRdIA8So6Y4dahZX+NHduz3/umOSu1jl/MUneWTP3qDq962dDEtVQysai8oEB3KsZov2ghZNUT2+d7WjgqxIoHryg2tYtBIkUjm0I5vkQHQ121ZtB4lVG9CDryvnQDz0hli+vgt91V5mhjw+dRzbF33TNZnt77p8Zj36/u17OGdwOyd78wa8szelLiDURRvFC4YSiOYSw7DGeLIWjN33erel9pYE1LgX8uHGB6hhjolSGevdkhpH5sRI5eye2Ol/RqCU0OiWK/XZL8cd6eZkw555GSLwL0KgZ1QTzhSDtv0HA/lOUhgOeYAAAAAASUVORK5CYII=') no-repeat center left white;
}
.form-control-map-autocomplete.destiny {
    border-color: var(--trip-mostly-free-color);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQeFSoMKLoFcwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAE50lEQVRYw6WXW4hVZRTH//+1z4MzqXmZcSZCJ51SGQQvoJZieAnEIDNF6sEyrJDoAr1ERAS+hNBDNU/dTLv4EkKkkCTWmDAviSBEUqCUjQ9qzWRZKs3Z37+H9e3L0ensY2447G9fzvetb631/621OXLlLCaPux1jHQLA0iC/zo8AwAAECObPggATJAOJysOaPw7xnMZFBAiQ4jNZbgSz900IUEuLVxsgxlMCwGAQwBAnN3dHNEJSnM5gSOL1TRpA+o7Z8Lp5LPKX4O5n5gPF27x5AwTLnFCERIAYcht8FKDoBQM9WAwtGVBr6oFrDRLxdzqML0/1Y3Doky8uXD2zLiAFBXS2zTy0YsZja9f2PofxtcnV6ZWt0UwFjd4IOHZ+P/Ycf+qXi+lv05NgqCcBVKNDJyVThrYuenvGkq5NLSVicwMEgAEpDMfP7cObxzarnJ++uOVqkQAmRFI3PL90Hxd3bYCgPD+g+JKxRRXEbP+rPoJdJ7afqynxRZjkO6cAKma/EUqFFCneP/HEuYv1Cw3JKPjiylVTmYTu+sOn+/FnfaQrtRQGQBJEwJAUu6dPSroXLo1e7Pr6p3d80VxVkWZRNZ60FQ6gDEeH9gxQhhAiGkT0Tli488Vlh7l3fcqXlh9iz4SFO8kkSsOVcfTMroHMVTkWFGEWDapMQinF1gPjNGp1JErynb68/CvOm7w6Whrw/fAAXhu8TzAW7lUNHz9wlZlhQgAdZ3lgqrVCYhR1UEDKNO4OmDdlJcAYABn6pq6C6OHJJg+swxcPDWRl67UAIAykA4lknMrw3fBAZh8E4OTwAGqqIcIzqsRKiM7oGG6EhM65zraeQ5TH1uQK6D+26Y+TwwMQUvzw+xG89e3mX+sMEIsa2dk2/UimApWwXTaiVkVqAljcvX7twZ/7lUow8xBc/ufSxJ2Da1SnGlhAEgye+3d3P7wqMHW1KHV3wSARZIDEqmrotL+nZ4vr3Qs+SGf9qGWQCe5uAkrldVPAkp5HvDIiALGiZkZmBay5DCUIht4JizCn494tjL1AGb+S54UYsWwAaOjrWLV51sSFcR8lHEUZIvKkuQeMYIzoptk79jp8LC+5FhonyfCcoo6Ns1/Zl3nQSnlPen1n9EQ1CeWp2Dd1BeZNXb3RpVaQKuM8I5ZFYEHHmgf7OlYCDNfnuewGGhI4930Hhm0L3v2svTb+MmlFiuQa91N7MuX84/Pf2++at7xryDsIFv1MdQjkJMxevm1cL+6/84VbklDYLxZnQ4J1s57t7m6bGVmf5o1NQxjifJUhcBcnTj8KgvDQXa9i9rTl23zRKD35eU7Hsm0b5u4ouiEmjZ11QEmuahHFCJARlIF0zD45/8Pdk5LOHxGcFMGAW2sdQ9vnf7TbSt0zy9jNI2IN0W+hLbdYvVySgqG7vQdPL907N2GCEATK8MzST2dMa78DhMGUXNNLNjlGrpz1+j7GL1XIxyH4OA2Cgt87cPp1PPp5TQdPvYEgIYR68f80/Oe85V9TA8J199JoWB0hjr8580HDtZT6OKglAyr6gRiCUO7jQmR50ecJBablZdNz4OY/zSwnYiFHllorr34sGcsbWLxFFWSllEVfF7ErOaozFkBZv6LGr6f//2XkPQDH+CrOWB7KhYYxUiQCW7Og+svIxure7JqOYQyEt/ht+C8WN+Pl02VYHAAAAABJRU5ErkJggg==') no-repeat center left white;
}


.search-section .btn-option {
    white-space: initial;
}

.search-section .btn-option span{
    font-size: 11px;
}


.actionbar {
    position: fixed;
    left: 0;
    background: var(--main-background);
    height: 52px;
    width: 100%;
    z-index: 1;
    
}

.actionbar-bottom {
    bottom: 0;
    border-top: 1px solid var(--medium-font-color);
    text-align: center;
    padding: 7px 15px;
}

.actionbar-top {
    top: 0;
    border-top: 1px solid var(--secondary-background);
    padding: 4px 10px;
    background-color: var(--secondary-background);
}

.actionbar-bottom .actionbar_item {
    display: inline-block;
    color: var(--medium-font-color);
    font-size: 26px;
    width: 20%;
}

.actionbar-bottom .actionbar_item.active {
    color: var(--secondary-background);
}

.actionbar-bottom .actionbar_item span {
    padding: 0 8px;
}

.actionbar-bottom .actionbar_item .big {
    color: var(--secondary-font-color);
    background: red;
}

.actionbar_section {
    display: inline-block;
}

.actionbar_icon {
    font-size: 26px;
    width: 30px;
}

.actionbar_title {
    font-size: 26px;
}