<?xml version='1.0' encoding='utf-8'?>
<widget id="com.movilizame.apalancar" version="2.4.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Apalancar</name>
    <description>
        Aplicación para compartir viajes de media y larga distancia.
    </description>
    <author email="contacto@carpoolear.com.ar" href="http://carpoolear.com.ar">
        STS
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="google-services.json" target="google-services.json" />

        <preference name="SplashMaintainAspectRatio" value="true" />
        <icon density="ldpi"    src="res/icon/android/icon-36.png"  />
        <icon density="mdpi"    src="res/icon/android/icon-48.png"  />
        <icon density="hdpi"    src="res/icon/android/icon-72.png"  />
        <icon density="xhdpi"   src="res/icon/android/icon-96.png"  />
        <icon density="xxhdpi"  src="res/icon/android/icon-144.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-192.png" />

        <splash density="port-ldpi"    src="res/screen/android/screen-200x320.png"   />
        <splash density="port-mdpi"    src="res/screen/android/screen-320x480.png"   />
        <splash density="port-hdpi"    src="res/screen/android/screen-480x800.png"   />
        <splash density="port-xhdpi"   src="res/screen/android/screen-720x1280.png"  />
        <splash density="port-xxhdpi"  src="res/screen/android/screen-960x1600.png"  />
        <splash density="port-xxxhdpi" src="res/screen/android/screen-1280x1920.png" />

        <splash density="land-ldpi"    src="res/screen/android/screen-320x200.png"   />
        <splash density="land-mdpi"    src="res/screen/android/screen-480x320.png"   />
        <splash density="land-hdpi"    src="res/screen/android/screen-800x480.png"   />
        <splash density="land-xhdpi"   src="res/screen/android/screen-1280x720.png"  />
        <splash density="land-xxhdpi"  src="res/screen/android/screen-1600x960.png"  />
        <splash density="land-xxxhdpi" src="res/screen/android/screen-1920x1280.png" />


        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <preference name="android-targetSdkVersion" value="28" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />



        <icon height="20"   width="20"    src="res/icon/ios/icon-20.png"   />
        <icon height="29"   width="29"    src="res/icon/ios/icon-29.png"   />
        <icon height="40"   width="40"    src="res/icon/ios/icon-40.png"   />
        <icon height="48"   width="48"    src="res/icon/ios/icon-48.png"   />
        <icon height="50"   width="50"    src="res/icon/ios/icon-50.png"   />
        <icon height="55"   width="55"    src="res/icon/ios/icon-55.png"   />
        <icon height="57"   width="57"    src="res/icon/ios/icon-57.png"   />
        <icon height="58"   width="58"    src="res/icon/ios/icon-58.png"   />
        <icon height="60"   width="60"    src="res/icon/ios/icon-60.png"   />
        <icon height="72"   width="72"    src="res/icon/ios/icon-72.png"   />
        <icon height="76"   width="76"    src="res/icon/ios/icon-76.png"   />
        <icon height="80"   width="80"    src="res/icon/ios/icon-80.png"   />
        <icon height="87"   width="87"    src="res/icon/ios/icon-87.png"   />
        <icon height="88"   width="88"    src="res/icon/ios/icon-88.png"   />
        <icon height="100"  width="100"   src="res/icon/ios/icon-100.png"  />
        <icon height="114"  width="114"   src="res/icon/ios/icon-114.png"  />
        <icon height="120"  width="120"   src="res/icon/ios/icon-120.png"  />
        <icon height="144"  width="144"   src="res/icon/ios/icon-144.png"  />
        <icon height="152"  width="152"   src="res/icon/ios/icon-152.png"  />
        <icon height="167"  width="167"   src="res/icon/ios/icon-167.png"  />
        <icon height="172"  width="172"   src="res/icon/ios/icon-172.png"  />
        <icon height="180"  width="180"   src="res/icon/ios/icon-180.png"  />
        <icon height="196"  width="196"   src="res/icon/ios/icon-196.png"  />
        <icon height="1024" width="1024"  src="res/icon/ios/icon-1024.png" />

        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comcom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anycom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="browser">
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="0" />
        <preference name="ShowSplashScreen" value="false" />
        <preference name="SplashScreenWidth" value="0" />
        <preference name="SplashScreenHeight" value="0" />
    </platform>
    <plugin name="cordova-plugin-backbutton" spec="^0.3.0" />
    <plugin name="cordova-plugin-datepicker" spec="^0.9.3" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <plugin name="cordova-plugin-nativestorage" spec="~2.2.2" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-x-toast" spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-backbutton" spec="^0.3.0" />
    <plugin name="cordova-plugin-datepicker" spec="^0.9.3" />
    <plugin name="cordova-plugin-disable-ios11-statusbar" spec="^1.0.0" />
    <plugin name="cordova-plugin-cache-clear" spec="^1.3.7" />
    <plugin name="phonegap-plugin-push" spec="^2.1.3">
        <variable name="FCM_VERSION" value="11.6.2" />
    </plugin>
    <plugin name="cordova-plugin-facebook4" spec="3.1.0">
        <variable name="APP_ID" value="147151221990591" />
        <variable name="APP_NAME" value="Carpoolear" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.37.0" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.4.7">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="24.1.1+" />
    </plugin>
    <engine name="android" spec="^6.3.0" />
    <engine name="browser" spec="^5.0.1" />
    <engine name="ios" spec="^4.5.0" />
</widget>
